.nav{
    z-index: 3;
    
    width: 100%;
    position:absolute;
    position: sticky;
    top: 0;
    
}
.top-header{
    /* background-color: hsl(30, 36%, 95%); */
    background-color: transparent;
    color: white;
    display: flex;
    width: 100%;
    
}
.socials{
    flex: 1;   
    margin-top: 20px;
    margin-left: 40px;
}
.imp{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 40px;
    
}
.login{
    display: flex;
    justify-content: center;
}
.logo{
    margin-top: 15px;
    flex: 1;
    width:202px ;
    height:40px;
}
.space-right{
    margin-right: 15px;
}
.space-left{
    margin-left: 15px;
}
.wears{
    display: flex;
    align-items: center;
    /* background-color: hsl(30, 36%, 95%); */
    color: white;
    background-color: transparent;
    justify-content: center;
}
.wears>p{
    margin: 10px;
    font-size: 15px;
    border-bottom: 1px solid transparent;
    cursor: pointer;
    z-index: 3;
}
.wears>p:hover{
    border-bottom: 1px solid black;
}
.mouse-in-nav{
    background-color: hsl(30, 36%, 95%);
    color: black;
    
    
}
.gayab{
    display: none;
}


.login_window{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 3;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.detailslogin{
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 350px;
    z-index: 5;
}
.logininp{
    border: 1px solid rgba(0, 0, 0, 0.80);
    width: 80%;
    margin-top: 50px;
}
.loginbutt{
    width: 80%;
    height: 30px;
    /* background-color: black; */
    border: 1px solid black;
    cursor: pointer;
}
.loginbutt:hover{
    background-color: black;
    color: white;
}
.registerinp{
    border: 1px solid black;
    margin: 10px;
    margin-top: 30px;
}
.rinp{
    border: 1px solid rgba(0, 0, 0, 0.80);
    width: 80%;
    margin-top: 30px;
}
.detailsregister{
    background-color: hsl(0, 0%, 100%);
    width: 500px;
    height: 470px;
    z-index: 4;
}
.alert{
   
    background-color: black;

    box-shadow: 0px 0px 8px 0px rgb(223, 255, 255);
}